.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    margin: 2rem auto 0;
    width: 100%;
    overflow-x: hidden;

    .fields {
      margin-bottom: 1.5rem;
    }
  }

  .alternative {
    margin: 1.5rem auto;
  }
}